[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymssql = "*"
requests = "*"
pysimplegui = "*"
pymupdf = "*"
pyinstaller = "*"
cryptography = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
